<html>
<head>
  <title>

  </title>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
</head>
<style>
#myfont{
  font-size: 70px;
  color: white;
  font-family: ‘Cormorant+Garamond’, sans-serif;
  text-align: center;
  padding-top: 10%;
}

#myfont2{
  font-size: 10px;
  color: white;
  font-family: ‘Cormorant+Garamond’, sans-serif;
  text-align: center;
  padding-top: 10%;
}

#mydiv {
width: 500px;
height: 281px;
margin: auto;
background-position: center;
background: url("https://media.giphy.com/media/La4sAOzY9H8L6/giphy.gif")
}

#mydiv2 {
  width: 40px;
  height: 30px;
  margin: auto;
  background-position: center;
}

.button {
  background: url("http://bestanimations.com/images/light-gold-glitter-bg-2.gif");
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-position: center;
  border-radius: 50%;
}

body {
  background: url("http://backgrounds-desktop.com/uploads/posts/2017-09/1_bacon.jpg")

}
</style>

<body>

  <div id="mydiv">
    <h1 id="myfont"> BaconBnB </h1>
  </div>

  <div class="buttons">
  <h2 id="myfont2">
  <form action='/listings/view' method='get'>
    <input type='submit' value='view listings' id='viewListings' class="button">
  </form>


  <form action='/listings/add' method='get'>
    <input type='submit' value='add listings' id='addListings' class="button">
  </form>
</h2>
</div>


</div>
</body>
</html>
