<h1> Hello, MakersBnB! </h1>
<!-- <a href="/listings">See all listings</a> -->

<form action='/listings/view' method='get'>
  <input type='submit' value='view listings' id='viewListings'>
</form>


<form action='/listings/add' method='get'>
  <input type='submit' value='add listings' id='addListings'>
</form>
