<html>
<head>
 <title>


 </title>
 <link href=“https://fonts.googleapis.com/css?family=Meera+Inimai” rel=“stylesheet”>
</head>
<style>
#myfont{
 font-size: 40px;
 font-family: ‘Meera Inimai’, sans-serif;
 text-align: center;
 display: inline;
 left:700px;

}

#myfont2 {
font-size: 40px;
text-align: left;
display: inline;
}

#mydiv {margin: 20px;
padding:30px;
border: solid black;
background: url(‘https://previews.123rf.com/images/buriy/buriy1205/buriy120500003/13484872-nice-background-with-hibiscus-flowers.jpg’)}
</style>
<body>
 <div id=“mydiv”>
   <h1 id=“myfont2">hi</h1>
   <h1 id=‘myfont’>hello</h1>
 </div>
</body>
</html>
